.list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  min-width: 500px;
  width: 1440px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-around;
}

.wrapper {
  margin-top: 20px;
}

.item {
  width: calc((100% - 32px) / 3);
}
